<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<!-- Define your API endpoint URL -->
		<add key="ApiEndpoint" value="https://my-json-server.typicode.com/typicode/demo/posts"/>
		<!-- Add other settings as needed, such as API keys, tokens, etc. -->
		<add key="ApiKey" value="your_api_key_here" />
	</appSettings>
</configuration>